<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

<div style="display:none;">
<%= f.text_area :content, :value => "Took a leave..." %>
<%= f.text_area :trigger, :value => 1 %>
</div>


<% if current_user.leave == 0 %>
	<%= f.submit "Take a Leave", class: "btn btn-primary" , data: { disable_with: 'Processing' } %>

<% else if current_user.leave == 2 %>
	<h5>Overtime Accepted...</h5>

<% else %>
	<% if current_user.leave == 11 %>
		<h5>Applied for leave...</h5>
	<% else %>
		<h5>You are on leave today...</h5>
	<% end %>

<% end %>
<% end %>
<% end %>
