<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "New Action..." %>
  </div>

<%= f.submit "Apply for Leave", class: "btn btn-primary" %>

<%= f.submit "Accept Overtime", class: "btn btn-primary" %>



<% end %>
