<a href="<%= user_path(current_user) %>">
  <%= gravatar_for current_user, size: 70 %>
</a>
<h1>
  <%= current_user.name %>
</h1>
<span>
  <%= current_user.designation %>
</span>
<span>
  <%= link_to "My profile", current_user %>
</span>
<span>
  <%= pluralize(current_user.microposts.count, "Action") %>
</span>
